body{
	background-color: white;
}
#background-item{
	position: absolute;
	width: 1806.53px;
	height: 1027.62px;
	left: -73px;
	top: -169px;

	background: #2F3D7E;
	border: 1px solid #2F3D7E;
	box-shadow: inset -15px -15px 20px rgba(0, 0, 0, 0.25);
}
.search-form{
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	height: max-content;
	top: 10vh;

	/* background: #FFFFFF; */
	/* box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.25); */
	/* border-radius: 20px; */
}
.video-list{
	position: relative;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
}