.image-container::-webkit-scrollbar {
  display: none;
  /* Hide the scroll bar for WebKit browsers (e.g., Chrome, Safari) */
}

.image-container {
  margin-left: 60px;
  overflow-x: scroll;
  white-space: nowrap;
}

.image-wrapper {
  position: relative;
  display: inline-block;
}

.overlay {
  padding: 10px 15px;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 320px;
  height: 180px;
  background-color: rgba(0, 0, 0, 0.7);
  /* border-radius: 10px; */
  opacity: 0;
  transition: opacity 0.3s;
}

.overlay .title {
  color: white;
  font-size: 16px;
  font-weight: bold;
  white-space: normal;
}

.overlay .title .views {
  color: white;
  font-size: 14px;
  font-weight: 100;
  white-space: normal;
}

.image-wrapper:hover .overlay {
  opacity: 1;
}

.image-wrapper:hover .text {
  opacity: 1;
}

.image {
  display: inline-block;
  width: 25vw;
  height: 100%;
  margin-right: 10px;
}