.image-grid {
  margin-left: 60px;
  margin-right: 60px;
  display: grid;
  grid-gap: 50px;
}

.grid-item {}

.grid-item-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  height: 100%;
}

.grid-image {
  /* width: 100%;
  height: calc(56.25% - 10px);
  border-radius: 10px;
  overflow: hidden; */
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}

.grid-image img {
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-title {
  margin-top: 10px;
  display: flex;
  /* justify-content: space-between; */
  /* grid-template-rows: auto 1fr; */
}

.grid-title .circular-image {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.grid-title .circular-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-title .title .title-video {
  margin-left: 20px;
  grid-row: 1;
  text-align: left;
  font-size: 16px;
  font-weight: 500;
}

.grid-title .title .creator {
  margin-top: 12px;
  margin-left: 20px;
  grid-row: 1;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
}

.grid-title .title .views {
  /* margin-top: 5px; */
  margin-left: 20px;
  grid-row: 1;
  text-align: left;
  font-size: 14px;
  font-weight: 300;
}

.button-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  /* Adjust the desired height */
}

.button-container .button {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 16px;
  font-weight: 800;
  border: none;
  cursor: pointer;

  margin-bottom: 50px;
}

/* Media Queries */
@media screen and (min-width: 1281px) {
  .image-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1280px) {
  .image-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}