.dictation-section {
    display: flex;
    justify-content: center;
}

.dictation-section .left-side {
    flex: 1;
    /* background-color: var(--primary-color); */
    background-color: var(--primary-color);
    padding: 60px;
}

.dictation-section .left-side h1 {
    color: var(--secondary-color);
    font-size: 28px;
    font-weight: bold;
    margin-top: 18.76px;
    margin-bottom: 18.76px;
}

.dictation-section .left-side .creator-level {
    display: flex;
    justify-content: space-between;
}

.dictation-section .left-side .creator-level h2 {
    color: var(--secondary-color);
    font-size: 22px;
    font-weight: 200;
    margin: 0;
}

.dictation-section .left-side .creator-level .box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    /* width: 200px; */
    padding: 0 20px;
    background-color: var(--secondary-color);
}

.dictation-section .left-side .creator-level .text {
    color: var(--primary-color);
    text-align: center;
    font-weight: bold;
}

.dictation-section .left-side h3 {
    color: var(--secondary-color);
    margin-top: 18.72px;
    margin-bottom: 18.72px;
    font-weight: bold;
}

.dictation-section .right-side {
    flex: 1;
    position: relative;
    padding: 60px;
    display: flex;
    justify-content: center;
}

.dictation-section .right-side::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('https://static.skillshare.com/uploads/users/tmp/67305fda');
    /* background-image: url('https://i.ytimg.com/vi/h6fcK_fRYaI/maxresdefault.jpg'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: blur(40px);
    z-index: -1;
}

.dictation-section .right-side .box-correct-line {
    margin-top: 20px;
    display: block;
    border: 2px solid transparent;
    width: 450px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
}

.dictation-section .right-side .text-correct-line {
    color: black;
    /* Text color */
}


.textarea {
    display: block;
    width: 450px;
    height: 150px;
    padding: 10px;
    resize: none;

    background-color: rgba(255, 255, 255, 0.6);

    color: #53483D;
    font-size: 20px;
    font-weight: bold;
}

.button-check {
    /* width: 100px;
    height: 30px; */
    padding: 4px 10px;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.button-skip {
    /* width: 100px;
    height: 30px; */
    padding: 4px 10px;
    margin-left: 20px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

.container-dictation {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.box-dictation {
    width: 500px;
    height: 400px;
    overflow: auto;

    /* background-color: rgba(255, 255, 255, 0.6); */
    /* padding: 20px; */
}

.wrap-dictation {
    /* padding: 10px 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;

    border-bottom: 2px solid rgba(83, 72, 61, 0.4);
    background-color: rgba(255, 255, 255, 0.5);
    /* background-color: var(--primary-color)20; */
}

.wrap-dictation .first-two-elements{
    padding: 10px 20px;
    display: flex;
    align-items: center;
    /* background-color: var(--primary-color)20; */
}

.status-bar {
    /* width: 100px; */
    width: 10px;
    height: 100px;
    background-color: var(--primary-color)85;
  }

.icon-play {
    cursor: pointer;
    /* margin-left: 20px; */
    font-size: 20px;
    color: #53483D;
}

.icon-check {
    cursor: pointer;
    margin-right: 20px;
    left: 0px;
    font-size: 20px;
    color: #2C542F;
}

.form-dictation {
    /* margin-top: 10px; */
    padding-bottom: 10px;
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: left;
/* 
    border-bottom: 2px solid rgba(83, 72, 61, 0.4); */
}

.word-input {
    width: 50px;
    height: 30px;
    margin-top: 5px;
    margin-left: 8px;
    /* padding-top: 5px;
    padding-bottom: 8px; */
    border-bottom: 3px solid rgba(83, 72, 61, 0.8);
    background-color: rgba(255, 255, 255, 0);
    color: #53483D;
    font-family: 'Consolas', 'monaco', monospace;
    font-size: 20px;
    font-weight: bold;
}

.word-input-PUNCTUATION {
    width: 12px;
    height: 30px;
    margin-top: 5px;
    margin-left: 8px;
    /* padding-top: 5px;
    padding-bottom: 8px; */
    /* border-bottom: 3px solid rgba(83, 72, 61, 0.8); */
    background-color: rgba(255, 255, 255, 0);
    color: #53483D;
    font-family: 'Consolas', 'monaco', monospace;
    font-size: 20px;
    font-weight: bold;
}

.correct-section {
    width: 500px;
    margin-top: 20px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);

    color: #53483D;
    font-family: 'Consolas', 'monaco', monospace;
    font-size: 20px;
    font-weight: bold;
}